<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="En construction">

    <title>Bocognano RP - En Développement</title>

    <link id="favicon" rel="icon" href="https://cdn.glitch.com/99ec51d4-cbc5-43b9-a1ba-cb1eabb552b3%2F65eeb527-7f96-44a9-950a-64fa14a37911.image.png?v=1595335171866" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
<body>
  <div id="bg">
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn.glitch.com/99ec51d4-cbc5-43b9-a1ba-cb1eabb552b3%2F65eeb527-7f96-44a9-950a-64fa14a37911.image.png?v=1595335171866" /></p>
<h1 style="text-align: center;"><span style="color: #ff6600;">Bocognano RP</span></h1>
<h1><span style="color: #ff9c00;">&nbsp;</span></h1>
<h2><span style="color: #8c7bc6;">I) Bocognano RP, c'est quoi ?</span></h2>
<h2><span style="color: #3984c6;">&nbsp;</span></h2>
<p style="text-align: center;">C'est avant tout une communaut&eacute; soud&eacute;e de tout &acirc;ge, aimant participer et jouer roleplay sur ROBLOX dans de bonnes conditions. C'est pour cela que Bocognano RP est fait pour vous !</p>
<p style="text-align: center;">Bocognano RP c'est aussi une inspiration de la r&eacute;alit&eacute;. En effet, "Bocognano" est un petit village dans les montagnes en Corse. Un m&eacute;lange de beaut&eacute; et de s&eacute;rieux.</p>
<p><span style="color: #636363;">&nbsp;</span></p>
<h2><span style="color: #8c7bc6;">II) Puis-je rejoindre la communaut&eacute; ?</span></h2>
<p>&nbsp;</p>
<p style="text-align: center;">Oui, vous pouvez. Cependant, vous ne pourrez uniquement rejoindre le Discord, qui nous sert de relais d'informations et de discussion pour la communaut&eacute;, car le jeu en lui m&ecirc;me (l&agrave; o&ugrave; vous pourrez jouer roleplay) n'est pas encore ouvert, il est encore en d&eacute;veloppement.</p>
<p><span style="color: #636363;">&nbsp;</span></p>
<h2><span style="color: #8c7bc6;">III) Avez-vous une date pour la sortie du jeu ?</span></h2>
<p>&nbsp;</p>
<p style="text-align: center;">Malheureusement, il est tr&egrave;s difficile de distinguer une sortie du jeu car celui ci en est qu'au d&eacute;but de son d&eacute;veloppement. N&eacute;anmoins, nous esp&eacute;rons pouvoir le finir avant la fin de l'ann&eacute;e 2020 !</p>
<p>&nbsp;</p>
<h2><span style="color: #8c7bc6;">IV) Comment rejoindre ?</span></h2>
<p>&nbsp;</p>
<p style="text-align: center;">Pour nous rejoindre, il suffit simplement de rejoindre le serveur Discord de notre communaut&eacute;. Celui ci vous permettra d'acc&eacute;der aux annonces, informations, spoils, &eacute;venements et pleins d'autres choses que pour la communaut&eacute; !</p>
</div>
    </body>

</html>
