<style>
  background-color: gray;
</style>

<p>
  Page des spoils
</p>


<h1>
  Spoil 1
</h1>

<video width="320" height="240" poster="https://cdn.glitch.com/99ec51d4-cbc5-43b9-a1ba-cb1eabb552b3%2Fspoil1-bocognanoRP.png?v=1595324503793" controls>
   <source src="https://cdn.glitch.com/99ec51d4-cbc5-43b9-a1ba-cb1eabb552b3%2F2020-07-20%2021-35-15.mp4?v=1595324172021" type="video/mp4">
   Votre navigateur ne supporte pas le format vidéo.
</video>
<h3>
  Si la vidéo ne charge pas, <a href="https://cdn.glitch.com/99ec51d4-cbc5-43b9-a1ba-cb1eabb552b3%2F2020-07-20%2021-35-15.mp4?v=1595324172021">cliquez ici</a>
</h3>