#bg {
background: #2D3135 none no-repeat scroll 0 0;
}

h1 {
  font-family: Tahoma, Geneva, sans-serif;
font-size: 25px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}
h2 {
  font-family: Tahoma, Geneva, sans-serif;
font-size: 30px;
letter-spacing: 0px;
word-spacing: 0px;
color: #92C2FF;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: none;
}
p {
  font-family: Verdana, Geneva, sans-serif;
font-size: 20px;
letter-spacing: 0px;
word-spacing: 0px;
color: #FFFFFF;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: none;
}